@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./image/FN.png) no-repeat center center fixed;
  background-size: cover;
  color: black;
  font-family: "Fuzzy Bubbles", cursive;
  display: flex;
  /* align-items: center; */
  justify-content: left;
  min-height: 100vh;
  padding: 1rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid salmon;
  background: salmon;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: white;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: green;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  position: relative;
  top: -600px;
  bottom: 0;
  right: 0;
  left: 600px;
  background: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0.4rem 1rem;
}
